/*THE MINIFIED RESET*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers*/
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
/*self clearfixing*/
section:before, section:after, article:before, article:after {clear: both; content: ""; display: table;}
/* new clearfix */
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
    }
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*END RESET*/




*{
    margin: 0;padding: 0;
}
body{
    margin: 0;padding: 0;
}
#rectprincipal{
    background-color: orangered;width: 100%;height: 40px;
    color: white;text-align: center;
}
/***************header*****************/
#contenedor{
    width: 100%;
}
#header{
    width: 90%;height: 90px;display: flex;margin:auto;
}
.blokhead, .blokheadredes{
    width: 33.3%;
}
.blokhead img{
    height: 100%;display: block;margin: auto;
}
/*********estilos de redes logos ***************/
.blokheadredes{
    display: flex;justify-content: space-around;
}
#contredesup{
    width: 30%;margin: auto;justify-content: space-between;display: flex;
}


/************Menu estilos***************/
.menu{
    list-style: none;
    padding: 0;
    background: white;
    width: 90%;
    max-width: 950px;
    margin: auto;
}
.menu li a{
    text-decoration: none;
    color: black;
    padding: 20px;
    display: block;
}
.menu li{
    display: inline-block;
    text-align: center;
}
#colorn{
    color: orangered;
}

/**************Estilos para el BANNER***************/
#baner{
	width: 80%;overflow: hidden;display: flex
}
#baner ul{
	padding: 0;display: flex;width: 400%;
	animation: cambio 20s infinite alternate;
}
#baner li{
	list-style: none;width: 100%;
}
#baner img{
	width: 100%;
}
/**@keyframes cambio{
	0%{ margin-left: 0; }
	20%{ margin-left: 0; }

	25%{ margin-left: -100%; }
	45%{ margin-left: -100%; }

	50%{ margin-left: -200%; }
	70%{ margin-left: -200%; }

	75%{ margin-left: -300%; }
	100%{ margin-left: -300%; }
}**/



.botones{
    font-size: 30px;
    width: 70px;
    height: 70px;
    line-height: 70px;
    border-radius: 50%;
    background-color: rgba(0,0,0,.7);
    text-align: center;
    font-weight: bold;
    position: absolute;
    color: #fff;
    box-shadow: 0 0 10px rgba(255,255,255,.6);
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;

}
.botones:hover{
    cursor: pointer;
    transform: scale(1.2,1.2);
}
.atras{
    left: 2%;
    top: calc(50% - 70px);
}
.adelante{
    right: 2%;
    top: calc(50% - 70px);
}

/**************Estilos para la letra Novedades y Favoritos***************/
.noveyfavo{
    list-style: none;
    padding: 10px;
    background: white;
    width: 90%;
    max-width: 300px;
    margin: auto;
}
.noveyfavo li a{

    text-decoration: none;
    color: black;
    padding: 0px;
    display: block;
    font-size: 30px;
}
.noveyfavo li{
    display: inline-block;
    text-align: center;
}


/**************Estilos para la galeria de 4 fotos***************/
div.galeria{
    margin: 10x 10px;

    box-shadow: 0 4px 8px 0 white, 0 6px 20px 0 rgba(0,0,0,0.19);
    height: 100%;display: inline-block;margin: auto;
    width: 300px;
}

div.galeria img{
    width: 100%;
    height: auto;
}

div.galeria:hover{
}
div.pie{
    text-align: center;

}


.btn{
    display: block;
    width: 50px;
    font-family: sans-serif;
    font-weight: 700;
    background-color: orangered;
    border-radius: 3px;
    padding: 18px 80px;
    margin: 20px 30px;
    color: white;
    text-decoration: none;

}


