@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Trispace:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

#particles-js {
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: -1;
}

#rectprincipal {
    background-color: orangered;
    width: 100%;
    height: 50px;
    color: white;
    text-align: center;
}


/*************************************/
/***************header*****************/
#contenedor {
    width: 100%;
    position: relative;
    z-index: 19;
}

/*****banner*****/

.container-slider {
    width: 100%;
    overflow: hidden;
    margin-top: 40px;
    position: relative;
}

.slider {
    height: 900px;
    width: 400%;
    display: flex;
    margin-left: -100%;
}

.slider__section {
    width: 100%;
}

.slider__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider__btn {
    position: absolute;
    width: 100px;
    height: 100px;
    background: rgba(255, 255, 255, 0.7);
    top: 50%;
    transform: translateY(-50%);
    font-size: 80px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    color: gray;
}

.slider__btn:hover {
    background-color: #fff;
}

.slider__btn--right {
    right: 10px;
}

.slider__btn--left {
    left: 10px;
}

/**************Estilos para la letra Novedades y Favoritos***************/
#contenidonovfav {
    display: block;
    width: 100%;
    margin-top: 120px;
}

.noveyfavo {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 10px 0 20px 0;
    width: 100%;
    margin: auto;
}

.noveyfavo li {
    display: inline-block;
    text-align: center;
    font-family: 'Merriweather', serif;
}

#titunoveyfavn {
    text-decoration: none;
    padding: 0px;
    transition: all 0.4s;
    display: block;
    font-size: 50px;
    color: orangered;
    font-weight: bolder;
}

.colororange {
    color: orangered;
}

/****/

#segcontnovfav {
    width: 100%;
    display: block;
    margin-left: 0;
}

.contenGaleria {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-flow: wrap;
}

.galeria {
    height: 800px;
    width: 700px;
    margin: 30px 0;
}

.foto {
    height: 500px;
    width: 100%;
}

.foto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pie {
    height: 300px;
    width: 100%;
    text-align: center;
}

.descripie {
    padding: 20px;
    font-size: 40px;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
}

.prepie {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: 'Rubik', sans-serif;
}

.btn {
    display: block;
    background-color: orangered;
    border-radius: 3px;
    padding: 25px 0;
    transition: all 0.4s;
    font-family: 'Rubik', sans-serif;
    margin: 0 auto;
    width: 500px;
    color: white;
    text-align: center;
    font-size: 40px;
    text-decoration: none;
}

.btn:hover {
    background-color: #E12D06;
}

/****** imagens de ofertas****/
#contfavorite {
    width: 100%;
    margin-top: 120px;
}

.favo {
    display: flex;
    width: 100%;
    height: auto;
    margin: auto;
    flex-direction: row;
    flex-flow: wrap;
}

.primercontfavo {
    display: block;
    width: 100%;
    margin-bottom: 30px;
}

.primecontfavopeq,
.segcontfavopeq {
    height: 50%;
    width: 100%;
    margin-bottom: 20px;
}

.imggrandefavo {
    width: 100%;
    height: 100%;
}

.imgpquefavo {
    width: 100%;
}


/**************estilos para las fotos grandes***************/

.punteroimgprod {
    text-decoration: none;
    color: black;
}

#contimggran {
    width: 100%;
    margin-top: 120px;
}

.contimgg {
    width: 100%;
}

.imggrande {
    width: 100%;
    height: 900px;
    object-fit: cover;
}

.imgsobre {
    width: 100%;
    display: block;
    font-family: 'Poppins', sans-serif;
}

.imgsobreblok {
    width: 80%;
    padding: 80px 0;
    margin: auto;
}

.lon {
    font-size: 60px;
    margin-bottom: 10px;
    font-family: 'Trispace', sans-serif;
}

.tituuu {
    font-size: 90px;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: 'Rubik', sans-serif;
}

.descrip {
    font-size: 50px;
    font-family: 'Ubuntu', sans-serif;
}

.imgsobreblokimge {
    width: 100%;
    justify-content: center;
    flex-direction: row;
    flex-flow: wrap;
    display: flex;
}

.imgprodblok {
    box-shadow: 0px 20px 15px 3px rgba(0, 0, 0, 0.11);
    background-color: white;
    height: 1000px;
    border-radius: 40px;
    width: 800px;
    margin-bottom: 80px;
    padding-top: 50px;
}

.imgproduct {
    width: 700px;
    height: 550px;
    object-fit: cover;
    margin: auto;
}

.imgcarterblock {
    width: 100%;
    height: 100%;
}

.imgprodblok p {
    text-align: center;

}

.nomprod {
    margin: 20px 0 30px 0;
    font-size: 40px;
}

.califi {
    margin-bottom: 10px;
    font-size: 50px;
}

.califi span {
    color: orangered;
    font-size: 70px;
}

.verprod {
    text-align: center;
    font-size: 50px;
    margin-top: 50px;
}


/*********** contenedor de categorias ********************/

#contsectioncate {
    width: 100%;
    margin-top: 120px;
}

.letracate {
    text-align: center;
    padding: 0 20px;
    color: black;
    font-size: 50px;
    font-family: 'Merriweather', serif;
}

#contenGaleriaCategoria {
    width: 100%;
    margin: 80px auto 0 auto;
    justify-content: space-around;
    flex-direction: row;
    flex-flow: wrap;
    display: flex;
}

.cate {
    height: 1100px;
    width: 800px;
    margin-bottom: 80px;
}

.categoriasimg {
    height: 100%;
    width: 100%;
    position: relative;
}

.categoriasimg img {
    width: 100%;
    height: 100%;
}

.botom {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: -230px;
    font-family: 'Ubuntu', sans-serif;
}

.btn-neon {
    background-color: black;
    display: block;
    position: relative;
    top: 0px;
    display: inline-block;
    padding: 40px 50px;
    color: white;
    letter-spacing: 3px;
    font-size: 70px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
    border-radius: 3px;
}

.btn-neon:hover {
    background-color: orangered;
    box-shadow: 0 0 2px #a945c7, 0 0 0px #a945c7, 0 0 0px;
    #a945c7;
    transition-delay: 1s;
}

.btn-neon span {
    position: absolute;
    display: block;
}

#span1 {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #a945c7);

}

.btn-neon:hover #span1 {
    left: 100%;
    transition: 1s;
}

#span3 {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #a945c7);

}

.btn-neon:hover #span3 {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}

#span2 {
    top: 0;
    right: 0%;
    width: 2%;
    height: 100%;
    background: linear-gradient(180deg, transparent, #a945c7);

}

.btn-neon:hover #span2 {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;

}

#span4 {
    bottom: -100%;
    left: 0;
    width: 2%;
    height: 100%;
    background: linear-gradient(360deg, transparent, #a945c7);

}

.btn-neon:hover #span4 {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.25s;

}


/**************galeria para ultimos videos***************/
#contvideos {
    width: 100%;
    margin-top: 120px;
    position: relative;
}

.tituvid {
    text-align: center;
    font-size: 50px;
    padding-bottom: 50px;
    font-family: 'Merriweather', serif;
}

#contenGaleriaVideo {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-flow: wrap;
}

.videopubli {
    width: 800px;
    margin-bottom: 70px;
}

.video {
    height: 450px;
    width: 100%;
}

.video img {
    width: 100%;
    height: 100%;
}

.abajo {
    width: 100%;
    text-align: center;
    color: black;
    font-family: 'Rubik', sans-serif;
}

.abajo p {
    padding: 20px 0;
    font-size: 25px;
}

