/*******navegacion******/
#rectprincipal {
    background-color: orangered;
    width: 100%;
    height: 20px;
    color: white;
    text-align: center;
}
#contfix{
    position: relative;top: 0; z-index: 19;background-color: white;padding-bottom: 10px;
}
#header {
    height: auto;
    margin: auto;
    width: 100%;
    display: block;
}

.blokhead,
.blokheadredes,
.blokheada {
    width: 100%;
}

.blokheada {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Ubuntu', sans-serif;
    padding-top: 10px;
}

.blokheada a {
    text-decoration: none;
    font-size: 13px;
    color: black;
    padding: 8px 5px;
    font-weight: bolder;cursor: default;
}
.bbimg{
    width: 20px;
}


.blokhead {
    width: 100%;
    padding: 8px 0;
}

.imglogo {
    width: 100px;
    height: auto;
    display: block;
    margin: auto;
}

.contmenu {
    display: block;
    background: transparent;
    position: absolute;
    width: 100%;
    top: 85px;
}

.contmenu img {
    display: block;
    width: 30px;
    margin-left: 15px;
    cursor: pointer;
}

/** redes logos **/
.blokheadredes {
    width: 100%;
    display: flex;
}

#contredesup {
    width: 120px;
    margin: auto;
    justify-content: space-between;
    display: flex;
    padding-top: 10px;
}

.imgredes img {
    width: 25px;
}



/******Navegacion****/
#navegacion {
    width: 100%;margin-left: -100%;
    height: 100%;
    font-family: 'Roboto Mono', monospace;
    background: white;
    display: flex;
    position: fixed;
    z-index: 20;

    flex-direction: column;

    transition: all 0.4s;
}

.menu {
    list-style: none;
    width: 100%;
    margin: 0 auto 10px auto;
    justify-content: center;
    display: block;
}

.colorr {
    text-decoration: none;
    padding: 10px 0;margin: 20px auto 20px 30px;
    display: block;
    font-size: 18px;
    color: black;
    transition: all 0.4s;
    text-align: left;
}

.colorr:hover {
    color: orangered;
    border-radius: 3px;
}


.colorn,
.colornn {
    color: orangered;
    text-decoration: none;
    padding: 10px 0;margin: 20px auto 20px 30px;
    display: block;
    transition: all 0.4s;
    font-size: 18px;
    text-align: left;
}

#cerrnav {
    display: none;
    width: 20px;
    margin-left: 15px;
    cursor: pointer;
}

.colornn {
    cursor: default;
    display: none;
}

.colorn:hover {

    color: black;
    border-radius: 3px;
}

.select {

    color: orangered;
    border-radius: 3px;
}

/********** estilos categorias carteras********/
#opcate3,
#opcate4 {
    background-color: rgba(0, 0, 0, 0.93);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 22;
    top: 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Mono', monospace;
}

#opcate3 p,
#opcate4 p {
    color: white;
    font-size: 40px;
}

.pocates {
    padding: 10px 0;
    text-decoration: none;
    color: #fff;
    font-size: 13px;
}

.pocates:hover {
    color: orangered;
}

#iconcerrarop {
    width: 25px;
    cursor: pointer;
    margin: 20px 0;
}



/******Footer ********/
footer {
    background-color: black;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

.contenedorFOOTER {
    margin: auto;
    width: 90%;
    display: flex;
    color: orange;
    padding: 30px 0 20px 0;
    justify-content: space-around;
    flex-direction: row;
    flex-flow: wrap;
}

.col1,
.col2,
.col3 {
    width: 100%;
    margin-bottom: 30px;
}

.col1 h1 {
    color: white;
    font-size: 15px;
    text-align: center;
    margin-bottom: 15px;
}

.col1 p {
    color: white;
    font-size: 13px;
    text-align: center;
}

.ig,
.ws,
.fb {
    color: white;
    display: flex;
    width: 100%;
    justify-content: center;
}

.nomempre {
    font-size: 15px;
}

.ico {
    font-size: 20px;
    margin-right: 5px;
}

.col2 h1 {
    color: white;
    font-size: 15px;
    text-align: center;
    margin-bottom: 15px;
}

.col3 h1 {
    color: white;
    font-size: 15px;
    text-align: center;
    margin-bottom: 15px;
}

.col3 p {
    color: #fff;
    text-align: center;
    font-size: 13px;
}

footer hr {
    width: 90%;
    background-color: white;
    margin: auto;
}

.final {
    margin: auto;
    padding: 30px 0;
    color: white;
    width: 90%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-flow: wrap;
}

.copy {
    display: flex;
    width: 100%;
    margin-bottom:15px;
}

.contcopy {
    display: flex;
    justify-content: space-between;
}

.contcopy span {
    font-size: 20px;
}

.contcopy p {
    font-size: 11px;
    padding-top: 0;
}

.politic {
    display: block;
    width: 100%;
}

.politic p {
    color: white;
    padding-top: 5px;
    text-align: center;
    font-size: 11px;
}

.contimgpoli {
    width: 100%;
    display: block;
    margin-top: 10px;
    justify-content: center;
}

.yape{
    display: block; margin: 0 auto 10px auto;
}
.politic img {
    height: 20px;
}

.copyr{
    text-align: center;
    background-color: black;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color: white;font-size: 13px;padding: 8px 0;
}

/*****************425px**************/
@media (min-width: 425px) {

    .imglogo {
    width: 150px;
    height: auto;
    display: block;
    margin: auto;
}
    .contmenu {
    top: 90px;
}
    .contmenu img {
    display: block;
    width: 35px;
    margin-left: 40px;
    cursor: pointer;
}
    #cerrnav {
    width: 25px;
    margin-left: 40px;
    cursor: pointer;
}

    .colorr, .colorn, .colornn {
    padding: 10px 0;margin: 20px auto 20px 0;
    font-size: 18px;
    text-align: center;
}

    /** redes logos **/
#contredesup {
    width: 150px;
}

.imgredes img {
    width: 30px;
}


    .pocates {
    font-size: 15px;
}

    /*********footer******/

.col1 h1 {
    font-size: 18px;
}

.col1 p {
    font-size: 15px;
}

.col2 h1 {
    font-size: 18px;
}

.col3 h1 {
    font-size: 18px;
}

.col3 p {
    font-size: 15px;
}

.contcopy {
    display: flex;
    justify-content: space-between;
}

.contcopy span {
    font-size: 25px;
}

.contcopy p {
    font-size: 13px;
    padding-top: 0;
}

.politic {
    display: block;
    width: 100%;
}

.politic p {
    color: white;
    padding-top: 5px;
    text-align: center;
    font-size: 13px;
}

.contimgpoli {
    width: 100%;
    display: flex;
    margin-top: 10px;
    justify-content: center;
}

.yape{
    display: block; margin: 0 10px 0 0;
}
.politic img {
    height: 20px;
}
}


/***********768px*******************/
@media (min-width: 768px){
    .contfix{
    position: relative;top: 0; z-index: 0;background-color: transparent;
        border-bottom: none;
}
    #header {
        width: 100%;
        height: auto;
        display: flex;
        margin: auto;
        justify-content: center;
    }

    .blokhead,
    .blokheadredes,
    .blokheada {
        width: 30%;
    }

    .blokheada {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Ubuntu', sans-serif;
    }

    .blokheada a {
        font-size: 13px;
    }
    .blokhead{
        padding: 0;
    }
    .imglogo {
        width: 180px;
        display: block;
        margin: auto;
    }

    .contmenu {
        display: none;
    }
    /*********estilos de redes logos ***************/
    .blokheadredes {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #contredesup {
        width: 130px;
        margin: 0 0 0 auto;
        justify-content: space-between;
        display: flex;
    }

    /******Navegacion****/
#navegacion {
    width: 100%;margin-left: 0;
    height: auto;
    font-family: 'Roboto Mono', monospace;
    background: transparent;
    display: block;
    position: relative;
    top: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu {
    list-style: none;
        padding: 0;
        background: transparent;
        width: 100%;
        margin: 0 auto 0 auto;
        justify-content: center;
        display: flex;
}

.colorr {
    text-decoration: none;
        padding: 8px 15px;
        display: block;
        font-size: 13px;
        color: black;
        transition: all 0.4s;
}

.colorr:hover {
    background-color: orangered;
    color: white;
    border-radius: 3px;
}

.colorn,
.colornn {
    color: orangered;
        text-decoration: none;
        padding: 8px 15px;
        display: block;
        transition: all 0.4s;
        font-size: 13px;
}

#cerrnav {
    position: relative;
    display: none;
    margin: 0 auto 40px auto;
}

.colornn {
    cursor: default;
    display: block;
}

.colorn:hover {
    background-color: orangered;
    color: white;
    border-radius: 3px;
}

.select {
    background-color: orangered;
    color: white;
    border-radius: 3px;
}

    /****footer***/
    .col1,
.col2,
.col3 {
    width: 200px;
    margin-bottom: 30px;
}
    .col1 h1 {
    text-align: left;
}

.col1 p {
    text-align: left;
}

.ig,
.ws,
.fb {
    justify-content: flex-start;
}
.col2 h1 {
    text-align: left;
}
.col3 h1 {
    text-align: left;
}

.col3 p {
    text-align: left;
}
    footer hr {
    width: 90%;
}

    .copy {
    display: flex;
    width: 100%;
    margin-bottom:15px;
        justify-content: space-around;
}
.contcopy {
    display: flex;
    justify-content: center;
}
.contcopy p {
    font-size: 13px;
    padding-top: 0;
}

.politic {
    display: flex;
    width: 80%;
    justify-content: space-around;
}

.politic p {
    padding-top: 0;
    text-align: center;margin-top: 10px;
    font-size: 13px;
}

.contimgpoli {
    width: auto;
    margin-top: 10px;
    justify-content: center;
}

.yape{
    display: block;
}
.politic img {
    height: 25px;
}
}

/********1024**********/
@media (min-width: 1024px){
    .colorr {
        font-size: 15px;
}
.colorn,
.colornn {
        font-size: 15px;
}

        /****footer***/
    .final{
        margin-top: 0;
    }
    .copy {
    display: flex;
    width: 70%;
    margin-bottom:0;justify-content: space-around;
}

    .politic {
    display: flex;
    width: 70%;
    justify-content: space-around;
}

.politic p {
    padding-top: 0;
    text-align: center;margin-top: 10px;
    font-size: 13px;
}

.contimgpoli {
    width: auto;
    margin-top: 10px;
    justify-content: center;
}

.yape{
    display: block;
}
.politic img {
    height: 25px;
}
}


/********** 1440px**********************/
@media (min-width: 1440px){

    /****footer***/

    .contenedorFOOTER {
    width: 80%;
    padding: 50px 0 80px 0;
}
    .col1,
.col2,
.col3 {
    width: 300px;
}

        .col1 h1 {
    font-size: 30px;
}

.col1 p {
    font-size: 18px;
}

.col2 h1 {
    font-size: 30px;
}

    .nomempre {
    font-size: 18px;
}

.ico {
    font-size: 25px;
    margin-right: 5px;
}
.col3 h1 {
    font-size: 30px;
}

.col3 p {
    font-size: 18px;
}

    footer hr {
    width: 80%;
}
    .final{
        width: 80%;
    }
    .copy {
    display: flex;
    width: 50%;
        justify-content: space-around;
}
.contcopy {
    display: flex;
    justify-content: center;
}
.contcopy p {
    padding-top: 2px;
}

.politic {
    display: flex;
    width: 50%;margin-top: 0;padding-top: 0;
    justify-content: space-around;
}

.politic p {
    padding-top: 0;margin-top: 0;
    text-align: center;
    font-size: 15px;
}

.contimgpoli {
    width: auto;
    margin-top: 0;
    justify-content: center;
}

.yape{
    display: block;margin-right: 15px;
}

}
