@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Trispace:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;padding: 0;
}
body{
    margin: 0;padding: 0;
}

/**********************************************/
.banner {
    width: 100%;height: 400px;position: relative;
}
.contimgbaner{
    background-image: url('/css/joyoreriaPrinci/joyeriaBanner.jpg');
    background-repeat: no-repeat;
    width: 100%;height: 100%;
    background-size: cover;background-position: right;
}

.pebaner {
    border: 0px solid black;width: 90%;display: block;margin: auto;
    z-index: 10;position: relative;margin-top: -150px;
    text-decoration: inherit;
    text-decoration-style: dashed;
    background-color: white;
    padding: 20px 10px;border-radius: 5px;
    text-align: left;
    font-size: 15px;font-family: 'Poppins', sans-serif;
    box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.29);
}

/*************************************/
.subtitudescubre{
    width: 100%;
}
.subtitudescubre p{
    text-align: center;font-size: 20px;color: orangered;padding: 20px 0;margin-top: 50px;
}

.section {
    width: 100%;margin:20px auto;justify-content: space-around;
    flex-direction: row;
    flex-flow: wrap;
    display: flex;
}
.contimgart1{
    background-image: url('/img/joreriaPrincipal/aretes.jpg');
    width: 100%;height: 400px;background-repeat: no-repeat;position: relative;
    background-size: cover;display: flex; align-content: center;
}
.contpe{
    width: 90%;margin: auto;
}
.contpe p{
    text-align: center;color: white;font-size: 20px;
}

.boton {
    margin: 20px auto 0 auto;justify-content: center;display: flex;
}

.btn-neon {

    background-color: transparent;
    display: block;
    position: relative;
    right: auto;
    top: 5px;
    left: 5px;
    display: inline-block;
    padding: 15px 15px;
    color: white;
    letter-spacing: 3px;
    font-size: 25px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
    border: 1px solid white;
}

.btn-neon:hover {
    color: orangered;
    background-color: white;
    box-shadow: 0 0 2px #a945c7, 0 0 0px #a945c7, 0 0 0px;
    transition-delay: 1s;
}

.btn-neon span {
    position: absolute;
    display: block;
}

#span1 {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #a945c7);

}

.btn-neon:hover #span1 {
    left: 100%;
    transition: 1s;
}

#span3 {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #a945c7);

}

.btn-neon:hover #span3 {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}

#span2 {
    top: 0;
    right: 0%;
    width: 2%;
    height: 100%;
    background: linear-gradient(180deg, transparent, #a945c7);

}

.btn-neon:hover #span2 {

    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;

}

#span4 {

    bottom: -100%;
    left: 0;
    width: 2%;
    height: 100%;
    background: linear-gradient(360deg, transparent, #a945c7);

}

.btn-neon:hover #span4 {

    bottom: 100%;
    transition: 1s;
    transition-delay: 0.25s;

}
.argollasinfo{
    width: 100%;
    justify-content: space-around;
    flex-direction: row;
    flex-flow: wrap;
    display: flex;
}
.galeria {
    height: 400px;
    width: 250px;margin: 20px auto;
}

.foto {
    height: 225px;
    width: 100%;
}

.foto img {

    padding: 0px 0px;
    width: 100%;
    height: 100%;
}

.pie {
    padding: 1px 0px;
    height: 170px;
    width: 100%;
    text-align: center;
    color: black;
}

.pie p {
    font-size: 15px;
    text-align: center;
    height: 100px;
    width: 100%;
}


.btn {
    font-family: sans-serif;
    font-weight: 700;
    background-color: orangered;
    border-radius: 3px;
    padding: 15px 20px;
    margin: 15px 21px;
    color: white;
    /*border: 1px solid black;*/
    text-decoration: none;
}
/********mira hacia otro lado********/

.section1{
    width: 100%;margin:20px auto;justify-content: space-around;
    flex-direction: row;
    flex-flow: wrap;
    display: flex;
}
.contimgart2{
    background-image: url('/img/joreriaPrincipal/collares.jpg');
    width: 100%;height: 400px;background-repeat: no-repeat;position: relative;
    background-size: cover;display: flex; align-content: center;
}
.contpecollares{
    width: 90%;margin: auto;
}
.contpecollares p{
    text-align: center;color: white;font-size: 20px;
}
.argollasinfo1{
    justify-content: space-around;
    flex-direction: row;
    flex-flow: wrap;
    display: flex;width: 100%;
}
.galeria1{
    height: 400px;
    width: 250px;margin: 20px auto;
}
.foto1 {
    height: 225px;
    width: 100%;
}

.foto1 img {
    padding: 0px 0px;
    width: 100%;
    height: 100%;
}

.pie1 {
    padding: 1px 0px;
    height: 170px;
    width: 100%;
    text-align: center;
    color: black;
}

.pie1 p {
    font-size: 15px;
    text-align: center;
    height: 100px;
    width: 100%;
}


.btn1 {
    font-family: sans-serif;
    font-weight: 700;
    background-color: orangered;
    border-radius: 3px;
    padding: 15px 20px;
    margin: 15px 21px;
    color: white;
    /*border: 1px solid black;*/
    text-decoration: none;
}


/********section3*****/
.section3{
    width: 100%;margin:20px auto;justify-content: space-around;
    flex-direction: row;
    flex-flow: wrap;
    display: flex;
}
.contimgart3{
    background-image: url('/img/joreriaPrincipal/pulseras.jpg');
    width: 100%;height: 400px;background-repeat: no-repeat;position: relative;
    background-size: cover;display: flex; align-content: center;
}

/******section4***/
.section4{
    width: 100%;margin:20px auto;justify-content: space-around;
    flex-direction: row;
    flex-flow: wrap;
    display: flex;
}
.contimgart4{
    background-image: url('/img/joreriaPrincipal/anillos.jpg');
    width: 100%;height: 400px;background-repeat: no-repeat;position: relative;
    background-size: cover;display: flex; align-content: center;
}
/*****section5*****/
.section5{
    width: 100%;margin:20px auto;justify-content: space-around;
    flex-direction: row;
    flex-flow: wrap;
    display: flex;
}
.contimgart5{
    background-image: url('/img/joreriaPrincipal/aretes.jpg');
    width: 100%;height: 400px;background-repeat: no-repeat;position: relative;
    background-size: cover;display: flex; align-content: center;
}



/************* banner compra ********************/
.BannerComprar {
    display: block;
    margin: auto;background-position: right;
    background: url(joyoreriaPrinci/porque-comprar.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    margin-top: 80px;
    background-size: cover;
}

.banner-contentCompras {
    color: #fff;padding-top: 150px;
    width: 90%;margin: auto;
}

.banner-contentCompras h1 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 35px;
    font-weight: 35px;
    font-family: inherit;
}

.banner-contentCompras p {
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
    font-style: normal;
    font-family: serif;
}

.botonCompras {
    text-align: center;
    align-content: space-around;
}

.btn-neonCompras {

    background-color: transparent;
    display: block;
    position: relative;
    right: auto;
    top: 5px;
    left: 5px;
    display: inline-block;
    padding: 15px 15px;
    color: white;
    letter-spacing: 3px;
    font-size: 25px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
    border: 1px solid white;
}

.btn-neonCompras:hover {
    color: black;
    background-color: white;
    box-shadow: 0 0 2px #a945c7, 0 0 0px #a945c7, 0 0 0px;
    transition-delay: 1s;
}

.btn-neonCompras span {
    position: absolute;
    display: block;
}

#span1 {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #a945c7);

}

.btn-neonCompras:hover #span1 {
    left: 100%;
    transition: 1s;
}

#span3 {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #a945c7);

}

.btn-neonCompras:hover #span3 {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}

#span2 {
    top: 0;
    right: 0%;
    width: 2%;
    height: 100%;
    background: linear-gradient(180deg, transparent, #a945c7);

}

.btn-neonCompras:hover #span2 {

    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;

}

#span4 {

    bottom: -100%;
    left: 0;
    width: 2%;
    height: 100%;
    background: linear-gradient(360deg, transparent, #a945c7);

}

.btn-neon3:hover #span4 {

    bottom: 100%;
    transition: 1s;
    transition-delay: 0.25s;

}


/************* conoce mas *******************/

.conocemas{
    margin-top: 50px;
}
.letra1 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.letra2 {
    line-height: 26px;
    text-align: center;
    font-size: 20px;font-family: 'Poppins', sans-serif;
}

.conocemas .letra3 {
    text-align: center;
    font-size: 20px;
    font-weight: bold;font-family: 'Poppins', sans-serif;
}

.conocemas img {
    display: block;
    margin: auto;
    width: 80%;
}


/************* descubra **********/
.contendescu{
    width: 90%;margin: 20px auto;font-family: 'Poppins', sans-serif;
}

.letradescrubre{
    width: 100%;margin-bottom: 40px;
}
.letra1 {
    text-align: center;
    font-size: 30px;
}
.letra2 {
    text-align: center;padding-top: 10px;
    line-height: 25px;
    font-size: 18px;

}

#contenGaleria6 {
    width: 100%;
    justify-content: space-around;
    flex-direction: row;
    flex-flow: wrap;
    display: flex;
}

.galeria6 {
    height: 450px;
    width: 280px;margin-bottom: 10px;
}

.foto6 {
    height: 220px;
    width: 100%;
}

.foto6 img {
    width: 100%;
    height: 100%;
}

.pie6 {
    height: 150px;
    width: 100%;
    text-align: center;
}

.descripie6 {
    font-weight: bold;
    padding: 5px;
    font-size: 17px;
    margin-bottom: 18px;
}

.prepie6 {

    font-size: 16px;
    margin-bottom: 55px;height: 50px;
}

.btn6 {
    display: block;font-size: 18px;
    font-weight: 800;
    background-color: white;
    border-radius: 0px;
    padding: 15px 20px;
    margin:0;
    font-family: inherit;
    color: black;
    border: 1px solid black;
    text-decoration: none;
    transition: 0.2s;
}

.btn6:hover {
    background-color: black;
    color: white;
    transition-delay: 0s;
}

/************************/
.ultimo{
    width: 100%;
    height: 300px;
}
.ultimo img {
    display: block;
    margin: auto;
    width: 100%;
    height: 100%;object-fit: cover;
}


/********************** responsive **********************/

/******* 768px *************/
@media(min-width: 768px){
    .pebaner{
    width: 80%;
    padding: 20px 20px;
}
    .contimgart1, .contimgart2, .contimgart3, .contimgart4, .contimgart5{
        height: 500px;
    }
}

/******** 425px*********/

@media(min-width: 425px){
    .contimgart1, .contimgart2, .contimgart3, .contimgart4, .contimgart5{
    width: 425px;
}
}

/************* 853********/
@media(min-width:853px){
    .argollasinfo, .argollasinfo1{
    width: auto;
}
}

/********* 928px***********/
@media(min-width: 925px){
    .contimgart2, .contimgart4{
    order: 2;
}
    .argollasinfo1{
        order: 1;
}
}

/********** 1024px********/
@media(min-width: 1024px){
    .pebaner {
    width: 60%;
    padding: 20px 20px;
        font-size: 20px;
}
    .ultimo{
    width: 100%;
    height: 550px;
}
    .argollasinfo, .argollasinfo1{
    width: 50%;
}
}

/***********1440px******/
@media(min-width:1440px){
    .section, .section3,.section1, .section4, .section5{
        width: 80%;
    }
}

/***********4k******/
@media(min-width:2560px){
    .section, .section3,.section1, .section4, .section5{
        width: 60%;
    }
}
