@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Trispace:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    margin: 0;padding: 0;
}
body{
    margin: 0;padding: 0;font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}
#rectprincipal{
    background-color: orangered;width: 100%;height: 25px;
    color: white;text-align: center;
}
/***************header*****************/
#contenedor{
    width: 100%;
}
#header{
    width: 90%;height: 90px;display: flex;margin:auto;
}
.blokhead, .blokheadredes, .blokheada{
    width: 33.3%;
}
.blokheada {
    display: flex;align-items: center;justify-content: center;font-family: 'Ubuntu', sans-serif;
}
.blokheada a{
    text-decoration: none;font-size: 13px;color: black;
}
.blokheada a:hover{
    text-decoration: underline;
}
.blokhead img{
    height: 100%;display: block;margin: auto;
}
/*********estilos de redes logos ***************/
.blokheadredes{
    display: flex;justify-content: space-around;
}
#contredesup{
    width: 30%;margin: auto;justify-content: space-between;display: flex;
}
.imgredes img{
    width: 25px;
}


/************Menu estilos***************/
#navegacion{
    width: 100%;font-family: 'Roboto Mono', monospace;
}
.menu{
    list-style: none;
    padding: 0;
    background: white;
    width: 70%;
    margin: 0 auto 10px auto;
    justify-content: center;
    display: flex;
}
.colorr{
    text-decoration: none;
    padding:10px 20px;
    display: block;
    font-size: 13px;
    color: black;transition: all 0.4s;
}
.colorr:hover{
    background-color: orangered;color: white;border-radius: 3px;
}
.menu li{
    display: inline-block;
    text-align: center;
}
.colorn, .colornn{
    color: orangered;
    text-decoration: none;
    padding:10px 20px;
    display: block;transition: all 0.4s;
    font-size: 13px;
}
.colornn{
    cursor: default;
}
.colorn:hover{
    background-color: orangered;color: white;border-radius: 3px;
}
.select{
    background-color: orangered;color: white;border-radius: 3px;
}

/********** estilos categorias carteras********/
#opcate3, #opcate4{
	background-color: rgba(0, 0, 0, .8);width: 100%;height: 100%;position: fixed;z-index: 11;
	top: 0;display: none;flex-direction: column;justify-content: center;align-items: center;
}
#opcate3 p, #opcate4 p{
	color:white; font-size: 30px;
}
.pocates{
	padding: 10px 0;text-decoration: none;color: #fff;
}
.pocates:hover{
	color:orangered;
}
#iconcerrarop{
	width: 20px;cursor: pointer;margin-bottom: 10px;
}

/************cuerpo de la pagina**********/
.banner {
    width: 100%;height: 100%;margin-bottom: 50px;
}
.contimgbaner{
    background-image: url('/css/joyoreriaPrinci/joyeriaBanner.jpg');
    background-repeat: no-repeat;
    width: 100%;height: 400px;position: relative;
    background-size: cover;
}

.pebaner {
    border: 0px solid black;width: 60%;display: block;margin: auto;
    position: relative; z-index: 10;
    text-decoration: inherit;margin-top: -180px;
    text-decoration-style: dashed;
    background-color: white;
    padding: 50px 60px;
    text-align: left;
    font-size: 20px;font-family: 'Poppins', sans-serif;
    box-shadow: 0px 5px 10px -1px orangered;
}

/*************************************/
.subtitudescubre{
    width: 100%;
}
.subtitudescubre p{
    text-align: center;font-size: 50px;color: orangered;padding: 0px 0;
}

.section {
    height: 500px;
    width: 80%;margin:40px auto;display: flex;
}
.contimgart1{
    background-image: url('/img/joreriaPrincipal/aretes.jpg');
    width: 40%;padding-top: 20%;background-repeat: no-repeat;position: relative;
    background-size: cover;
}
.contpe{
    width: 90%;margin: auto;
}
.contpe p{
    text-align: center;color: white;font-size: 20px;
}
.boton {
    margin: 20px auto 0 auto;justify-content: center;display: flex;
}
.btn-neon {
    background-color: transparent;
    display: block;
    position: relative;
    right: auto;
    top: 5px;
    left: 5px;
    display: inline-block;
    padding: 15px 15px;
    color: white;
    letter-spacing: 3px;
    font-size: 25px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
    border: 1px solid white;
}
.btn-neon:hover {
    color: orangered;
    background-color: white;
    box-shadow: 0 0 2px #a945c7, 0 0 0px #a945c7, 0 0 0px;
    transition-delay: 1s;
}
.btn-neon span {
    position: absolute;
    display: block;
}
#span1 {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #a945c7);
}
.btn-neon:hover #span1 {
    left: 100%;
    transition: 1s;
}
#span3 {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #a945c7);
}
.btn-neon:hover #span3 {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
#span2 {
    top: 0;
    right: 0%;
    width: 2%;
    height: 100%;
    background: linear-gradient(180deg, transparent, #a945c7);
}

.btn-neon:hover #span2 {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
#span4 {
    bottom: -100%;
    left: 0;
    width: 2%;
    height: 100%;
    background: linear-gradient(360deg, transparent, #a945c7);
}
.btn-neon:hover #span4 {

    bottom: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
.argollasinfo{
    display: flex;justify-content: space-evenly;width: 60%;
}

.galeria {
    height: 400px;
    width: 250px;
    border: 1px solid gray;
    border-radius: 4px;
}
.foto {
    height: 225px;
    width: 100%;
}
.foto img {

    padding: 0px 0px;
    width: 100%;
    height: 100%;
}
.pie {
    padding: 1px 0px;
    height: 170px;
    width: 260px;
    text-align: center;
    color: black;
}
.pie p {
    font-size: 15px;
    text-align: center;
    height: 100px;
    width: 250px;
    padding: 0px 10px;
}
.btn {
    font-family: sans-serif;
    font-weight: 700;
    background-color: orangered;
    border-radius: 3px;
    padding: 15px 20px;
    margin: 15px 21px;
    color: white;
    /*border: 1px solid black;*/
    text-decoration: none;
}

/****** seccion de categoria que mira hacia otro lado **/
.section1{
    height: 500px;
    width: 80%;margin:40px auto;display: block;display: flex;
}
.contimgart2{
    background-image: url('/img/joreriaPrincipal/collares.jpg');
    width: 40%;padding-top: 20%;background-repeat: no-repeat;position: relative;
    background-size: cover;
}
.contpecollares{
    width: 90%;margin: auto;
}
.contpecollares p{
    text-align: center;color: white;font-size: 20px;
}
.argollasinfo1{
    display: flex;justify-content: space-evenly;width: 60%;
}
.galeria1{
    height: 400px;
    width: 250px;
    border: 1px solid gray;
    border-radius: 4px;
}
.foto1 {
    height: 225px;
    width: 100%;
}
.foto1 img {
    padding: 0px 0px;
    width: 100%;
    height: 100%;
}
.pie1 {
    padding: 1px 0px;
    height: 170px;
    width: 260px;
    text-align: center;
    color: black;
}
.pie1 p {
    font-size: 15px;
    text-align: center;
    height: 100px;
    width: 250px;
    padding: 0px 10px;
}
.btn1 {
    font-family: sans-serif;
    font-weight: 700;
    background-color: orangered;
    border-radius: 3px;
    padding: 15px 20px;
    margin: 15px 21px;
    color: white;
    /*border: 1px solid black;*/
    text-decoration: none;
}
/********section2*****/
.section2{
    height: 500px;
    width: 80%;margin:40px auto;display: block;display: flex;
}
.contimgart2{
    background-image: url('/img/joreriaPrincipal/pulseras.jpg');
    width: 40%;padding-top: 25%;background-repeat: no-repeat;position: relative;
    background-size: cover;
}
/******section3***/
.section3{
    height: 500px;
    width: 80%;margin:40px auto;display: block;display: flex;
}
.contimgart3{
    background-image: url('/img/joreriaPrincipal/anillos.jpg');
    width: 40%;padding-top: 25%;background-repeat: no-repeat;position: relative;
    background-size: cover;
}
/********section4*****/
.section4{
    height: 500px;
    width: 80%;margin:40px auto;display: block;display: flex;
}
.contimgart4{
    background-image: url('/img/joreriaPrincipal/pulseras.jpg');
    width: 40%;padding-top: 25%;background-repeat: no-repeat;position: relative;
    background-size: cover;
}
/******section5***/
.section5{
    height: 500px;
    width: 80%;margin:40px auto;display: block;display: flex;
}
.contimgart5{
    background-image: url('/img/joreriaPrincipal/anillos.jpg');
    width: 40%;padding-top: 25%;background-repeat: no-repeat;position: relative;
    background-size: cover;
}
/********section6*****/
.section6{
    height: 500px;
    width: 80%;margin:40px auto;display: block;display: flex;
}
.contimgart6{
    background-image: url('/img/joreriaPrincipal/pulseras.jpg');
    width: 40%;padding-top: 25%;background-repeat: no-repeat;position: relative;
    background-size: cover;
}
/******section7***/
.section7{
    height: 500px;
    width: 80%;margin:40px auto;display: block;display: flex;
}
.contimgart7{
    background-image: url('/img/joreriaPrincipal/anillos.jpg');
    width: 40%;padding-top: 25%;background-repeat: no-repeat;position: relative;
    background-size: cover;
}



/******Footer ********/


footer{
    background-color: black;width: 100%;font-family: 'Poppins', sans-serif;
}
.contenedorFOOTER{
    margin: auto;
    width: 70%;
    display: flex;
    color: orange;
    padding: 50px 0 100px 0;
}
.col1, .col2, .col3{
    width: 33.3%;

}
.col1 h1{
    color: white;font-size: 20px;text-align: left;
    margin-bottom: 15px;

}
.col1 p{
    color: white;font-size: 15px;
    margin-bottom: 10px;
}
.ig, .ws, .fb{
    color: white;margin-bottom: 10px;
    display: flex;
}
.ico{
    font-size: 20px;margin-right: 5px;
}
.col2 h1{
    color: white;font-size: 20px;text-align: left;
    margin-bottom: 15px;
}

.col3 h1{
    color: white;font-size: 20px;text-align: left;
    margin-bottom: 15px;
}
.col3 p{
    color: #fff;line-height: 20px;
}
footer hr{
    width: 70%; margin: auto;
}
.final{
    margin:auto;padding: 10px 0;
    color:white;
    width: 70%;
    display: flex;
}
.copy{
    display: flex;
    width: 50%;
    float: left;
}
.contcopy{
    width:33.3%;display: flex;
}
.contcopy p{
    font-size: 12px;padding-top: 5px;margin-left: 3px;
}
.politic{
    display: flex;
    width: 50%;
}
.politic p{
    color: white;padding-top: 5px;margin-right: 5px;
    font-size: 12px;
}
.politic img{
    height: 22px;margin-right: 15px;
}
