/*roboto condensed*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto+Condensed:wght@300&display=swap');
/**/

*{
    margin: 0;padding: 0;
}
body{
    margin: 0;padding: 0;font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}
#rectprincipal{
    background-color: orangered;width: 100%;height: 25px;
    color: white;text-align: center;
}
/***************header*****************/
#contenedor{
    width: 100%;
}
#header{
    width: 90%;height: 90px;display: flex;margin:auto;
}
.blokhead, .blokheadredes, .blokheada{
    width: 33.3%;
}
.blokheada {
    display: flex;align-items: center;justify-content: center;
}
.blokheada a{
    text-decoration: none;font-size: 13px;color: black;
}
.blokheada a:hover{
    text-decoration: underline;
}
.blokhead img{
    height: 100%;display: block;margin: auto;
}
/*********estilos de redes logos ***************/
.blokheadredes{
    display: flex;justify-content: space-around;
}
#contredesup{
    width: 30%;margin: auto;justify-content: space-between;display: flex;
}
.imgredes img{
    width: 25px;
}


/************Menu estilos***************/
#navegacion{
    width: 100%;
}
.menu{
    list-style: none;
    padding: 0;
    background: white;
    width: 70%;
    margin: 0 auto 10px auto;
    justify-content: center;
    display: flex;
}
.colorr{
    text-decoration: none;
    padding:10px 20px;
    display: block;
    font-size: 13px;
    color: black;transition: all 0.4s;
}
.colorr:hover{
    background-color: orangered;color: white;border-radius: 3px;
}
.menu li{
    display: inline-block;
    text-align: center;
}
.colorn, .colornn{
    color: orangered;
    text-decoration: none;
    padding:10px 20px;
    display: block;transition: all 0.4s;
    font-size: 13px;
}
.colornn{
    cursor: default;
}
.colorn:hover{
    background-color: orangered;color: white;border-radius: 3px;
}
.select{
    background-color: orangered;color: white;border-radius: 3px;
}

/********** estilos categorias carteras********/
#opcate3, #opcate4{
	background-color: rgba(0, 0, 0, .8);width: 100%;height: 100%;position: fixed;z-index: 11;
	top: 0;display: none;flex-direction: column;justify-content: center;align-items: center;
}
#opcate3 p, #opcate4 p{
	color:white; font-size: 30px;
}
.pocates{
	padding: 10px 0;text-decoration: none;color: #fff;
}
.pocates:hover{
	color:orangered;
}
#iconcerrarop{
	width: 20px;cursor: pointer;margin-bottom: 10px;
}


.banner {
    background-image: url("QuienesSomosImg/quienessomos.png");
    width: 100%;
    height: 77vh;
}

.banner h1 {

    text-align: center;
    font-size: 75px;
}

.section {


    height: 400px;

}

.nuestrahisto h1 {

    text-align: center;

    font-size: 32px;
}

.nuestrahisto p {
    height: 200px;
    padding: 0px 0px;
    text-align: center;
    font-size: 18px;
}

.nuestrahisto img {
    display: flex;
    padding: 0px 150px;
    margin: 0px;
    border: 0px solid black;
    float: right;
    width: 550px;

}

.section1 {


    height: 400px;

}

.nuestrasomosalma h1 {

    text-align: center;

    font-size: 32px;
}

.nuestrasomosalma p {
    height: 200px;
    padding: 0px 0px;
    text-align: center;
    font-size: 18px;
}

.nuestrasomosalma img {
    display: flex;
    padding: 0px 150px;
    margin: 0px;
    border: 0px solid black;
    float: left;
    width: 550px;

}


.section2 {


    height: 400px;

}

.nuestrasomossoste h1 {

    text-align: center;

    font-size: 32px;
}

.nuestrasomossoste p {
    height: 200px;
    padding: 0px 0px;
    text-align: center;
    font-size: 18px;
}

.nuestrasomossoste img {
    display: flex;
    padding: 0px 150px;
    margin: 0px;
    border: 0px solid black;
    float: right;
    width: 550px;

}



#contenGaleria{


    width: 70%;margin: auto;display: flex; justify-content: space-between;

}

.galeria{

    box-shadow: 0 4px 8px 0 white, 0 6px 20px 0 rgba(0,0,0,0.0);
    height: 250px;width: 250px;
}
.foto{
     align-content: center;

        background-color: white;
    height: 36px;width: 36px;
}
.foto img{
    width: 100%;height: 100%;
}

.pie{
    height: 0px;width: 100%;text-align: center;color: black;
}
.pie p{
    padding: 8px;
}
