/*roboto condensed*/
/**/
/*roboto mono*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    margin: 0;padding: 0;
}
body{
    margin: 0;padding: 0;
}


.banner {
    width: 100%;height: 400px;
    background-image: url("QuienesSomosImg/quienessomos.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex; align-items: center;
}

.banner h1 {
    color: black;
    text-align: center;margin: auto;
    font-size: 60px;
}

/**************/
.section {
    width: 100%;font-family: 'Poppins', sans-serif;
    margin: 40px 0;display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-around;
}
.nuestrahisto{
    width: 100%;height: 400px;
}
.historia{
    width: 100%;height: 400px;display: flex; align-items: center;
    flex-direction: column;
}
.historia h1 {
    text-align: center;
    font-size: 32px;padding: 20px 0;
}
.historia p {
    text-align: center;
    font-size: 18px;text-align: justify;width: 90%;
}
.nuestrahisto img {
    height: 100%;object-fit: cover;
    width: 100%;
}


.color{
    background-color: gray;padding: 45px 0;
}

#contenGaleria{
    width: 70%;margin: auto;display: flex;justify-content: space-around;
    flex-direction: row;
    flex-flow: wrap;
}

.galeria{
    height: 200px;width: 250px;
}
.foto{
     align-content: center;
        background-color: white;
    height: 36px;width: 36px;border-radius: 10px;
}
.foto img{
    width: 100%;height: 100%;
}

.pie{
    height: 0px;width: 100%;text-align: center;color: white;
}
.pie p{
    padding: 8px;
}


/************** responsive***********/

@media(min-width: 768px){
    .banner h1 {
    font-size:75px;
}
    .nuestrahisto{
    width: 650px;height: 400px;margin: auto;
}
.historia{
    width: 650px;height: 300px;
    margin: auto;
}
}

@media(min-width: 1300px){
    .section{
    margin: 70px 0;}

    .por{
        order: 2;
    }
    .por{
        order: 1;
    }
}
