*{
    box-sizing: border-box;
     margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
}
/*************************************/
#header{
    width: 90%;height: 90px;display: flex;margin:auto;font-family: 'Open Sans', sans-serif;
}
.blokhead, .blokheadredes, .blokheada{
    width: 33.3%;
}
.blokheada {
    display: flex;align-items: center;justify-content: center;
}
.blokheada a{
    text-decoration: none;color:black;font-size: 13px;
}
.blokhead img{
    height: 100%;display: block;margin: auto;
}
/*********estilos de redes logos ***************/
.blokheadredes{
    display: flex;justify-content: space-around;
}
#contredesup{
    width: 30%;margin: auto;justify-content: space-between;display: flex;
}
.imgredes img{
    width: 25px;
}


/************Menu estilos***************/
#navegacion{
    width: 100%;font-family: 'Open Sans', sans-serif;
}
.menu{
    list-style: none;
    padding: 0;
    background: white;
    width: 70%;
    margin: auto;
    justify-content: center;
    display: flex;
}
.colorr{
    text-decoration: none;
    padding: 20px;
    display: block;
    font-size: 13px;
    color: black;
}
.menu li{
    display: inline-block;
    text-align: center;
}
.colorn{
    color: orangered;
    text-decoration: none;
    padding: 20px;
    display: block;
    font-size: 15px;
}

.BannerComprar {
    background: url(joyoreriaPrinci/ultimoporque.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 90vh;
}

.banner-contentCompras {
    color: #fff;
    width: 100%;
    padding-top: 20px;
}

.banner-contentCompras h1 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 70px;
    font-weight: 35px;
    font-family: serif;
}


.BannerComprajoyas {
    background: url(joyoreriaPrinci/porquecomprar.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 77vh;
}

.banner-contentComprasjoyas {
    color: #fff;
    width: 100%;
    padding-top: 150px;
}

.banner-contentComprasjoyas h1 {
        color: black;

    padding-left: 300px;
    margin-bottom: 10px;
    font-size: 40px;
    font-weight: 5px;
    font-family: serif;
}

.banner-contentComprasjoyas .letrah1 {
    color: black;
    font-weight: bold;
    padding-left: 300px;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 5px;
    font-family: serif;
}

.banner-contentComprasjoyas .letrap {
        color: black;
    line-height: 25px;
letter-spacing: 2px;
    padding-left: 0px;
    padding-right: 480px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: 5px;
    font-family: serif;
}

.joyasmateriales h1{
    font-size: 45px;
    text-align: center;
}

.joyasmateriales p{

    font-size: 18px;
    text-align: center;
         line-height: 24px;
letter-spacing: 1px;

}


.BannerComprarMate {

    background: url(joyoreriaPrinci/Materiales.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 83vh;
}

.banner-contentComprasMate {

    color: #fff;
    width: 100%;
    padding-top: 120px;
}

.banner-contentComprasMate h1 {

    color: black;
    text-align: center;
    margin-bottom: 10px;
    font-size: 70px;
    font-weight: 35px;
    font-family: serif;
}
.banner-contentComprasMate p {

    font-weight: normal;
    color: black;
    text-align: center;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 35px;
    font-family: sans-serif;
}

.metalespreciosos h1{
    font-size: 35px;
    text-align: center;
}
.metalespreciosos p{
    font-size: 18px;
    text-align: center;
         line-height: 24px;
letter-spacing: 0px;
}

#contenGaleriaVideoComprar{

    width: 80%;margin: auto;display: flex;justify-content: space-between;
}
.galeriavideo{

    box-shadow: 0 4px 8px 0 white, 0 6px 20px 0 rgba(0,0,0,0.19);
    height: 350px;width: 250px;
}
.videoComprar{
    height: 320px;width: 100%;
}
.videoComprar img{

    width: 370px;height: 320px;
}

.abajoComprar{

    height: 120px;width: 100%;text-align: center;color: black;
}
.abajoComprar p{
     line-height: 21px;
letter-spacing: 0px;
    padding: 5px;
}

.BannerComprarTendencia {

    background: url(joyoreriaPrinci/tendencia-bg.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 74vh;
}

.banner-contentComprasTendencia {

    color: #fff;
    width: 60%;
    padding-top: 180px;
}

.banner-contentComprasTendencia h1 {

    color: black;
    text-align: center;
    margin-bottom: 10px;
    font-size: 38px;
    font-weight: 35px;
    font-family: serif;
}
.banner-contentComprasTendencia p {

    font-weight: normal;
    color: black;
    text-align: center;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 35px;
    font-family: sans-serif;
    line-height: 25px;
letter-spacing: 0px;
    padding: 5px;
}

/******Footer ********/


footer{
    margin-top: 0px;
    background-color: black;width: 100%;

}
.contenedorFOOTER{
    margin: auto;
    width: 70%;
    display: flex;
    color: orange;
    padding: 50px 0 100px 0;
}
.col1, .col2, .col3{
    width: 33.3%;

}
.col1 h1{
    color: white;font-size: 20px;text-align: left;
    margin-bottom: 15px;

}
.col1 p{
    color: white;font-size: 15px;
    margin-bottom: 10px;
}

.ig, .ws, .fb{
    color: white;margin-bottom: 10px;
    display: flex;
}
.ico{
    font-size: 20px;margin-right: 5px;
}

.col2 h1{
    color: white;font-size: 20px;text-align: left;
    margin-bottom: 15px;
}

.col3 h1{
    color: white;font-size: 20px;text-align: left;
    margin-bottom: 15px;
}
.col3 p{
    color: #fff;line-height: 20px;
}

footer hr{
    width: 70%; margin: auto;
}
.final{
    margin:auto;padding: 10px 0;
    color:white;
    width: 70%;
    display: flex;
}
.copy{
    display: flex;
    width: 50%;
    float: left;
}
.contcopy{
    width:33.3%;display: flex;
}
.contcopy p{
    font-size: 12px;padding-top: 5px;margin-left: 3px;
}

.politic{
    display: flex;
    width: 50%;
}

.politic p{
    color: white;padding-top: 5px;margin-right: 5px;
    font-size: 12px;
}

.politic img{
    height: 22px;margin-right: 15px;
}
