@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Trispace:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    margin: 0;padding: 0;
}
body{
    margin: 0;padding: 0;
}

/******************************/
.banner {
    width: 100%;height: 400px;position: relative;
}
.contimgbaner{
    background-image: url('joyoreriaPrinci/facialbaner.jpg');
    background-repeat: no-repeat;
    width: 100%;background-position: right;
    background-size: cover;height: 100%;
}

.pe {
    border: 0px solid black;width: 90%;display: block;margin: auto;
    z-index: 10;position: relative;margin-top: -150px;
    text-decoration: inherit;
    text-decoration-style: dashed;
    background-color: white;
    padding: 20px 10px;border-radius: 5px;
    text-align: left;
    font-size: 15px;font-family: 'Poppins', sans-serif;
    box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.29);
}


section{
    width: 100%;margin: 50px 0;
    justify-content: space-around;
    flex-direction: row;
    flex-flow: wrap;
    display: flex;
}
.rating{
    color: orangered;font-size: 20px;
}

/** Estilo C **/
.estilo-c{
    border: 1px solid #D8DCE0;
    border-radius: 15px;
    padding: 15px;
    font-family: 'Poppins', sans-serif;
    width: 200px;margin-bottom: 20px;
}

.estilo-c:hover{
    border: 1px solid red;
}
.estilo-c .img-container{
    overflow: hidden;
    height: 260px;
    position: relative;
    border-radius: 5px;
}
.estilo-c .img-container img{
    width: 100%;
    position: absolute;
    height: 80%;
    transition: all 0.5s;
}
.estilo-c:hover .img-container img{
    transform: scale(1.2);
}

.estilo-c .img-container .promo{
        position: absolute;
    top: 10px;
    left: 0;
    font-size: 20px;
    background: yellow;
    padding: 15px;
    color: black;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;


}

.estilo-c .info-container{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.estilo-c .info-container h3{
    margin: 0px;
}

.estilo-c .info-container h3,
.estilo-c .info-container strong,
.estilo-c .info-container span{
    padding: 5px 15px;
    width: 100%;
}
.estilo-c .add-cart{

     margin-top: 2px;
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 15px;
    border: 1px solid orangered;
    border-radius: 25px;
}

.estilo-c .add-cart:hover{
      text-decoration: none;
    color: orangered;
    background-color: transparent;
    border: 1px solid orangered;
}


/******************** responsive*********/
/******* 768px *************/
@media(min-width: 768px){
    .pe {
    width: 80%;
    padding: 20px 20px;
}
}

/********** 1024px********/
@media(min-width: 1024px){
    .pe {
    width: 60%;
    padding: 20px 20px;
        font-size: 20px;
}
}

/******* 1440px *************/
@media(min-width: 1440px){
    .estilo-c{
    width: 300px;
}
}



