*{
    box-sizing: border-box;
}

.banner {
    background-image: url("joyoreriaPrinci/carterasPrincipal.jpg");
    display: flex;
    width: 100%;
    height: 77vh;
}


.banner-containerTexto p {
    border: 0px solid black;
    box-shadow: 0px 2px 9px #999;
    text-decoration: inherit;
    text-decoration-style: dashed;
    background-color: white;
    padding: 60px 75px;
    position: absolute;
    left: 23%;
    top:55%;
    text-align: left;
    font-size: 25px;
}


section{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}


/** Estilo C **/
.estilo-c{
    border: 1px solid #D8DCE0;
    border-radius: 15px;
    padding: 15px;

    font-family: sans-serif;
    width: 18%;
}

.estilo-c:hover{

    border: 1px solid red;

}
.estilo-c .img-container{
    overflow: hidden;
    height: 260px;
    position: relative;
    border-radius: 5px;
}
.estilo-c .img-container img{
    width: 100%;
    position: absolute;
    height: 80%;
    transition: all 0.5s;
}
.estilo-c:hover .img-container img{
    transform: scale(1.2);
}

.estilo-c .img-container .promo{
        position: absolute;
    top: 10px;
    left: 0;
    font-size: 20px;
    background: yellow;
    padding: 15px;
    color: black;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;


}


.estilo-c .info-container{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.estilo-c .info-container h3{
    margin: 0px;
}

.estilo-c .info-container h3,
.estilo-c .info-container strong,
.estilo-c .info-container span{
    padding: 5px 15px;
    width: 100%;
}
.estilo-c .add-cart{

    margin-top: 2px;
    text-decoration: none;

    color: white;
    background-color: black;
    padding: 15px;
    border: 1px solid black;
    border-radius: 25px;
}

.estilo-c .add-cart:hover{
    text-decoration: none;

    color: black;
    background-color: transparent;
    border: 1px solid black;
}





