img{
    display: flex;
    margin: auto;
    width: 75%;
    height: 60vh;
}
.letraArriba{
    text-align: center;
}
p{
    line-height: 24px;
    text-align: center;
}
img:hover {filter: saturate(180%);}

section{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}


/** Estilo C **/
.estilo-cc{
 border: 1px solid #D8DCE0;
    border-radius: 15px;
    padding: 15px;
    font-family: sans-serif;
    width: 23%;
}
.estilo-cc:hover{

    border: 1px solid red;

}
.estilo-cc .img-container{
    overflow: hidden;
    height: 350px;
    position: relative;
    border-radius: 5px;
}
.estilo-cc .img-container img{
    width: 100%;
    position: absolute;
    transition: all 0.5s;
}
.estilo-cc:hover .img-container img{
    transform: scale(1.2);
}

.estilo-cc .img-container .promo{
        position: absolute;
    top: 10px;
    left: 0;
    font-size: 20px;
    background: yellow;
    padding: 15px;
    color: black;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;


}


.estilo-cc .info-container{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.estilo-cc .info-container h3{
    margin: 0px;
}

.estilo-cc .info-container h3,
.estilo-cc .info-container strong,
.estilo-cc .info-container span{
    padding: 5px 15px;
    width: 100%;
}
.estilo-cc .add-cart{

    margin-top: 2px;
    text-decoration: none;

    color: white;
    background-color: black;
    padding: 15px;
    border: 1px solid black;
    border-radius: 25px;
}

.estilo-cc .add-cart:hover{
    text-decoration: none;

    color: black;
    background-color: transparent;
    border: 1px solid black;
}




